@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&display=swap");
@import "tailwindcss";

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
 
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  
}

html,
body {
  font-family: "Cairo", sans-serif;
  background: #1C1C1C;
  color: white;
}

@font-face {
  font-family: "IBMPlexSansArabicBold";
  src: url("../../static/fonts/IBMPlexSansArabic-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSansArabicRegular";
  src: url("../../static/fonts/IBMPlexSansArabic-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSansArabicLight";
  src: url("../../static/fonts/IBMPlexSansArabic-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@theme {
  --font-bold: "IBMPlexSansArabicBold", "Cairo", sans-serif;
  --font-regular: "IBMPlexSansArabicRegular", "Cairo", sans-serif;
  --font-light: "IBMPlexSansArabicLight", "Cairo", sans-serif;
}